<% provide(:title, 'Sign up') %>
<div class="signup">
  <h1>Sign up</h1>

  <div class="signup-form">
    <%= form_for(@user, url: signup_path, html: {id: "signup-form"}) do |f| %>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "Your name" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, class: "form-control", placeholder: "Your email" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
      </div>

      <div>
        <small class="text-muted">
          Already have an account? <%= link_to "Log in", login_path %>
        </small>
      </div>

      <%= f.submit "Create my account", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  <%= render "validate.js" %>
</script>
