<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 55), micropost.user %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
  </span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
          data: { confirm: "Are you sure you want to delete this micropost?" },
          remote: true %>
    <% end %>
  </span>

  <!-- like and comment spans -->
  <% @likeable_id = micropost.id %>
  <% @likeable_type = 'Micropost' %>
  <div class="comments-likes">
    <span class="micropost-likes">
      <span id="likes-Micropost-<%= micropost.id %>">
        <% if current_user.liked?(micropost) %>
          <%= render 'shared/unlike_form' %>
        <% else %>
          <%= render 'shared/like_form' %>
        <% end %>
      </span>
      <span id="likes-count-mic-<%= micropost.id %>">
        <%= pluralize(micropost.likes.count, "like") %>
      </span>
    </span>

    <span class="comments-count-span" id="comments-count-mic-<%= micropost.id %>">
      <i class="far fa-comments"></i>
      <span class="comments-count">
        <%= pluralize(micropost.comments.count, "comment") %>
      </span>
    </span>
  </div>

  <% @micropost_id = micropost.id %>
  <!-- Like body -->
  <div id="likes-mic-<%= micropost.id %>">
    <div class="user_avatars likes-avatars">
      <span id="likes-avatars-mic-<%= micropost.id %>">
        <% micropost.likes.each do |like| %>
          <span id="like-<%= micropost.id %>-<%= like.user.id %>">
            <%= link_to gravatar_for(like.user, size: 30), like.user %>
          </span>
        <% end %>
      </span>
      <span class="text-muted like-avatar-span"
            id="likes-avatars-count-mic-<%= micropost.id %>">
        <%= pluralize(micropost.likes.count, "friend") %> liked this post
      </span>
    </div>
  </div>

  <!-- comment body -->
  <% @micropost_id = micropost.id %>
  <div id="comments-mic-<%= micropost.id %>">
    <div id="comments-body-mic-<%= micropost.id %>">
      <% if micropost.comments.any? %>
        <ol class="comments">
          <%= render micropost.comments %>
        </ol>
      <% end %>
    </div>
    <div class="comment-form">
      <%= render 'shared/comment_form' %>
    </div>
  </div>
</li>

<!-- Add script to toggle likes -->
<script type="text/javascript">
  $('#likes-count-mic-<%= micropost.id %>').on('click', function() {
    $('#likes-mic-<%= micropost.id %>').toggle();
  });
</script>

<!-- Add script to toggle comments -->
<script type="text/javascript">
  $('#comments-count-mic-<%= micropost.id %>').on('click', function() {
    $('#comments-mic-<%= micropost.id %>').toggle();
  });
</script>
